SELECT up.id, up.full_name, up.email, up.assigned_branches, COUNT(gm.group_id) as group_count FROM user_profiles up LEFT JOIN group_members gm ON up.id = gm.user_id WHERE up.role = 'faculty' GROUP BY up.id, up.full_name, up.email, up.assigned_branches ORDER BY group_count;
